<!--services/finance/templates/fin_base.html-->
{% extends "base.html" %}

{% block content %}
<nav class="finance-nav">
    <ul>
        <li><a href="/">TUKAKOMBE</a></li>
        <li><a href="/finance">Home</a></li>
        <li><a href="/finance/loans">Loans</a></li>
        <li><a href="/finance/eligibility">Eligibility</a></li>
        <li><a href="/finance/faq">FAQ</a></li>
        <li><a href="/finance/contact">Contact</a></li>
    </ul>
</nav>

<hr>

{% block fin_content %}{% endblock %}
{% endblock %}
